div.topbar {
    background-color: white;
    align-items : stretch; /* Tells the children to use all vertical space */
    display: flex;
    border-color: #474747;
    border-left: 0px;
    border-right: 0px;
    box-shadow: 1px 1px 10px 0px grey; /*inset;*/
}

/* ************************************************************************ */
/* Topbar containers */
li.topbarLinkContainer {
    align-items: center; /* Contained links set at the vertical center. */
    display: flex;
    flex-grow: 1;
}

div.topbarRightContainer {
    align-items: center; /* Contained links set at the vertical center. */
    display: flex;
    flex-grow: 0;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


/* ************************************************************************ */

/* To all links in the topbar */
div.topbar a {
    color: #5e5e5e;
    /*padding: 0px 10px;*/
    text-decoration: none;
    transition: all .3s ease-in-out;
    /* margin: 10px;*/
    height: var(--topbar-height);
    width: 10%;
    text-align: center;
    /* text-shadow: 2px 2px 3px #bdbdbd; */
}

div.topbar a:hover, a:active {
}

/* To the links in the left container */
li.topbarLinkContainer a {
    text-transform: uppercase;
    font-weight: bold;
    line-height: var(--topbar-height);
}

li.topbarLinkContainer a:hover {
    color: orange;/**/
    background-color: #5e5e5e;
}


/* To the links in the right container */
div.topbarRightContainer a {
    text-decoration: none;
    color: black;
    width: auto;
    padding: 0px 10px;
    padding-bottom: 10px;
}

div.topbarRightContainer a:active {
    /*text-decoration: underline;*/
    background-color: ;
    background: rgba(0,0,0,0)
}

/* ************************************************************************ */
/* Dropdown menus */

div.dropdown {
    margin: 5px -70px;
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: white; /*#f9f9f9;*/
    min-width: 160px;
    width: 160px;
    height: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;

    border-style: solid;
    border-color: #5e5e5e;
    border-radius: 8px;
    border-width: 1px;

    background: url(../paperTexture.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

.dropdown-menu {
    display: block;
}

.dropdown-menu:hover > div.dropdown
{
    visibility: visible;
    opacity: 1;
    /*display: block;*/
}

