<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JaR webpage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <! Font from the internet>
    <link href="https://fonts.googleapis.com/css
		?family=Liu+Jian+Mao+Cao&display=swap"
	  rel="stylesheet"> 
    
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

  </head>
  
  <! -- Body -- >
  
  <body>

    <div class="header">
      <p> This is the header. Here goes the simplyfied view of the
	selected project path.  </p>
    </div>

    <div class="topbar">
      <li class="topbarLinkContainer">
	<a href="http://www.youtube.com" target="_blank">Youtube</a>
	<a href="#">Amazon</a>
	<a href="#">Google</a>
      </li>
      <div class="topbarRightContainer">
	<li class="dropdown-menu">
	  <a href="#" onclick="openAccountsMenu()">Account</a>
	  <div class="dropdown" id="account-dropdown">
	    Signed in as
	    MUKSÓ
	  </div>
	</li>
      </div>
    </div>

    <! ---------------------------------------------------------------  >
    <div class="column side">
      <b>Filters</b>
      <p>Here goes the table of settings!!</p>
    </div>
    <! ---------------------------------------------------------------  >
    <div class="row">
      <div class="column middle">

	<div class="pathDisplayDiv" contenteditable="true">
	  This is an editable paragraph.
	</div>
	
	<!hr class="mainPageHR">
	
	<div id="AbsContainerContainer">
	  <div class="absContainer">
	    <img class="conceptArrow Left" src="img/arrow6.png"
		 data-depth="0"></img>
	    <div class="abstractionLevel">
	      <div class="movingAbsLevel" id="firstMovingAbstractionLevel">
	      </div>
	    </div>
	    <img class="conceptArrow Right" src="img/arrow6.png"
		 data-depth="0"></img>
	  </div>
	  
	  
	</div>
	<hr class="mainPageHR">
	
	<h1 class="pageTitle">The JaR Project</h1>

	<hr class="mainPageHR">


	<!------------------------------------------------------------------->
	<! CONTENT >
	<div class="mainPageContent">
	  <p>
	    When \(a \ne 0\), there are two solutions to \(ax^2 + bx +
	    c = 0\) and they are \[x = {-b \pm \sqrt{b^2-4ac} \over
	    2a}.\]
	  </p>
	  
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing
	    elit. Maecenas sit amet pretium urna. Vivamus venenatis velit
	    nec neque ultricies, eget elementum magna tristique. Quisque
	    vehicula, risus eget aliquam placerat, purus leo tincidunt
	    eros, eget luctus quam orci in velit. Praesent scelerisque
	    tortor sed accumsan convallis.</p>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing
	    elit. Maecenas sit amet pretium urna. Vivamus venenatis
	    velit nec neque ultricies, eget elementum magna
	    tristique. Quisque vehicula, risus eget aliquam placerat,
	    purus leo tincidunt eros, eget luctus quam orci in
	    velit. Praesent scelerisque tortor sed accumsan
	    convallis.</p><p>Lorem ipsum dolor sit amet, consectetur
	    adipiscing elit. Maecenas sit amet pretium urna. Vivamus
	    venenatis velit nec neque ultricies, eget elementum magna
	    tristique. Quisque vehicula, risus eget aliquam placerat,
	    purus leo tincidunt eros, eget luctus quam orci in
	    velit. Praesent scelerisque tortor sed accumsan
	    convallis.</p><p>Lorem ipsum dolor sit amet, consectetur
	    adipiscing elit. Maecenas sit amet pretium urna. Vivamus
	    venenatis velit nec neque ultricies, eget elementum magna
	    tristique. Quisque vehicula, risus eget aliquam placerat,
	    purus leo tincidunt eros, eget luctus quam orci in
	    velit. Praesent scelerisque tortor sed accumsan
	    convallis.</p><p>Lorem ipsum dolor sit amet, consectetur
	    adipiscing elit. Maecenas sit amet pretium urna. Vivamus
	    venenatis velit nec neque ultricies, eget elementum magna
	    tristique. Quisque vehicula, risus eget aliquam placerat,
	    purus leo tincidunt eros, eget luctus quam orci in
	    velit. Praesent scelerisque tortor sed accumsan
	    convallis.</p><p>Lorem ipsum dolor sit amet, consectetur
	    adipiscing elit. Maecenas sit amet pretium urna. Vivamus
	    venenatis velit nec neque ultricies, eget elementum magna
	    tristique. Quisque vehicula, risus eget aliquam placerat,
	    purus leo tincidunt eros, eget luctus quam orci in
	    velit. Praesent scelerisque tortor sed accumsan
	    convallis.</p><p>Lorem ipsum dolor sit amet, consectetur
	    adipiscing elit. Maecenas sit amet pretium urna. Vivamus
	    venenatis velit nec neque ultricies, eget elementum magna
	    tristique. Quisque vehicula, risus eget aliquam placerat,
	    purus leo tincidunt eros, eget luctus quam orci in
	    velit. Praesent scelerisque tortor sed accumsan
	    convallis.</p><p>Lorem ipsum dolor sit amet, consectetur
	    adipiscing elit. Maecenas sit amet pretium urna. Vivamus
	    venenatis velit nec neque ultricies, eget elementum magna
	    tristique. Quisque vehicula, risus eget aliquam placerat,
	    purus leo tincidunt eros, eget luctus quam orci in
	    velit. Praesent scelerisque tortor sed accumsan
	    convallis.</p><p>Lorem ipsum dolor sit amet, consectetur
	    adipiscing elit. Maecenas sit amet pretium urna. Vivamus
	    venenatis velit nec neque ultricies, eget elementum magna
	    tristique. Quisque vehicula, risus eget aliquam placerat,
	    purus leo tincidunt eros, eget luctus quam orci in
	    velit. Praesent scelerisque tortor sed accumsan
	    convallis.</p><p>Lorem ipsum dolor sit amet, consectetur
	    adipiscing elit. Maecenas sit amet pretium urna. Vivamus
	    venenatis velit nec neque ultricies, eget elementum magna
	    tristique. Quisque vehicula, risus eget aliquam placerat,
	    purus leo tincidunt eros, eget luctus quam orci in
	    velit. Praesent scelerisque tortor sed accumsan
	    convallis.</p><p>Lorem ipsum dolor sit amet, consectetur
	    adipiscing elit. Maecenas sit amet pretium urna. Vivamus
	    venenatis velit nec neque ultricies, eget elementum magna
	    tristique. Quisque vehicula, risus eget aliquam placerat,
	    purus leo tincidunt eros, eget luctus quam orci in
	    velit. Praesent scelerisque tortor sed accumsan
	    convallis.</p><p>Lorem ipsum dolor sit amet, consectetur
	    adipiscing elit. Maecenas sit amet pretium urna. Vivamus
	    venenatis velit nec neque ultricies, eget elementum magna
	    tristique. Quisque vehicula, risus eget aliquam placerat,
	    purus leo tincidunt eros, eget luctus quam orci in
	    velit. Praesent scelerisque tortor sed accumsan
	    convallis.</p>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing
	    elit. Maecenas sit amet pretium urna. Vivamus venenatis velit
	    nec neque ultricies, eget elementum magna tristique. Quisque
	    vehicula, risus eget aliquam placerat, purus leo tincidunt
	    eros, eget luctus quam orci in velit. Praesent scelerisque
	    tortor sed accumsan convallis.</p>

	</div><!end of mainPageContent>

	<div class="footer">
	  <p>Footer</p>
	</div>

      </div>

    </div>


    <! ..................................................................... >
    <! Scripts >
    
    <script src="js/index.js"></script>
    <script>
      var idlist = ["physics", "mathematics", "chemistry", "biology",
		    "economics", "politology", "education"];
      var textlist = ["Physics", "Mathematics", "Chemistry", "Biology",
		      "Economics", "Politology", "Education"];
      var P = document.getElementById("firstMovingAbstractionLevel")
      fillDivWithButtons(P, 0, idlist, textlist);
    </script>
    
    <! MathJax >
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
	    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    
    
  </body>
</html>
